
 <!DOCTYPE html>

 <html lang="en">
 
 <head>
     <meta charset="utf-8" />
     <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
     <link rel="icon" type="image/png" href="/assets/img/favicon.ico">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
     <title>Klife</title>
     <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
     <!--     Fonts and icons     -->
     <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
     <!-- CSS Files -->
     <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
     <link href="/assets/css/light-bootstrap-dashboard.css?v=2.0.0 " rel="stylesheet" />
     <!-- CSS Just for demo purpose, don't include it in your project -->
     <link href="/assets/css/demo.css" rel="stylesheet" />
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    p{
        color: black;
    }
</style>
 </head>
 
<body>
     <div class="wrapper">
         <div class="sidebar">
            
             <div class="sidebar-wrapper" style="background-image: url(/assets/img/sidebar-5.jpg);">
                 <div class="logo">
                     <a href="/klife" class="simple-text">
                         Klife
                     </a>
                 </div>
                 <ul class="nav">
                     <li class="nav-item active">
                         <a class="nav-link" href="/admindashboard">
                             <i class="nc-icon nc-chart-pie-35"></i>
                             <p>Dashboard</p>
                         </a>
                     </li>


                     <li>
                        
                    <div class="w3-dropdown-hover nav-link">
                     <i class="nc-icon nc-circle-09 "></i>
                     <p>
                           User
                     </p>
                     <div class="w3-dropdown-content w3-bar-block w3-border">
                         <a href="/add" class="w3-bar-item w3-button w3-green">Add User</a>
                         <a href="/users" class="w3-bar-item w3-button w3-red">Delete User</a>
                     </div>
                   </div>
                    </li>


                <li>
                        
                    <div class="w3-dropdown-hover nav-link">
                     <i class="nc-icon nc-circle-09 "></i>
                     <p>
                           Mentor
                     </p>
                     <div class="w3-dropdown-content w3-bar-block w3-border">
                         <a href="/addmentor" class="w3-bar-item w3-button w3-green">Add Mentor</a>
                         <a href="/mentors" class="w3-bar-item w3-button w3-red">Delete Mentor</a>
                     </div>
                   </div>
                    </li>
                

                      <li>
                        
                    <div class="w3-dropdown-hover nav-link">
                     <i class="nc-icon nc-notes "></i>
                     <p>
                           Skills
                     </p>
                     <div class="w3-dropdown-content w3-bar-block w3-border">
                         <a href="/addskill" class="w3-bar-item w3-button w3-green">Add Skills</a>
                         <a href="/deleteskill" class="w3-bar-item w3-button w3-red">Delete Skills</a>
                     </div>
                   </div>
                    </li>

                    <li>
                        
                    <div class="w3-dropdown-hover nav-link">
                     <i class="nc-icon nc-atom "></i>
                     <p>
                           Technology
                     </p>
                     <div class="w3-dropdown-content w3-bar-block w3-border">
                         <a href="/addtechnology" class="w3-bar-item w3-button w3-green">Add Technology</a>
                         <a href="/technologys" class="w3-bar-item w3-button w3-red">Delete Technology</a>
                     </div>
                   </div>
                    </li>

                    <li>
                        
                    <div class="w3-dropdown-hover nav-link">
                     <i class="nc-icon nc-bank "></i>
                     <p>
                           Payments
                     </p>
                     <div class="w3-dropdown-content w3-bar-block w3-border">
                         <a href="/addpayment" class="w3-bar-item w3-button w3-green">Add Payments</a>
                         <a href="/deletepayment" class="w3-bar-item w3-button w3-red">Delete Payments</a>
                     </div>
                   </div>
                    </li>
                

                 <li>
                        
                    <div class="w3-dropdown-hover nav-link">
                     <i class="nc-icon nc-bulb-63"></i>
                     <p>
                           Training
                     </p>
                     <div class="w3-dropdown-content w3-bar-block w3-border">
                         <a href="/addtraining" class="w3-bar-item w3-button w3-green">Add Training</a>
                         <a href="/trainings" class="w3-bar-item w3-button w3-red">Delete Training</a>
                     </div>
                   </div>
                    </li>
                                  
                 </ul>
             </div>
         </div>
         <div class="main-panel">
             <!-- Navbar -->
             <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                 <div class="container-fluid">
                     <a class="navbar-brand" href="#pablo"> Dashboard </a>
                     <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-bar burger-lines"></span>
                         <span class="navbar-toggler-bar burger-lines"></span>
                         <span class="navbar-toggler-bar burger-lines"></span>
                     </button>
                     <div class="collapse navbar-collapse justify-content-end" id="navigation">
                         <ul class="nav navbar-nav mr-auto">
                             <li class="nav-item">
                                 <a href="/admindashboard" class="nav-link" data-toggle="dropdown">
                                     <span class="d-lg-none">Dashboard</span>
                                 </a>
                             </li>
                             
                             
                         </ul>
                         <ul class="navbar-nav ml-auto">
                             <li class="nav-item">
                                 <a class="nav-link" href="/admindashboard">
                                     <span class="no-icon">Account</span>
                                 </a>
                             </li>
                             
                             <li class="nav-item">
                                 <a class="nav-link" href="/signin">
                                     <span class="no-icon">Log out</span>
                                 </a>
                             </li>
                         </ul>
                     </div>
                 </div>
             </nav>
                      <!-- End Navbar -->
             <div class="content" style="background-image: url(/assets/blue.png); ">
                 <div class="container-fluid">
                     <div class="row">
                        <div class="col-md-2">
                        </div>
                      

<div class="col-md-6">
  <h2 class="text-center">Add Training</h2>
<form>

  <div class="form-group">
      <label for="progress">progress:</label>
      <input style="border:solid 1px black;" [(ngModel)]="training.progress" placeholder="progress(25%,50%,75%,100%)" name="progress" class="form-control" id="progress">
    </div>

    <div class="form-group">
        <label for="commissionAmount">commissionAmount:</label>
        <input style="border:solid 1px black;" [(ngModel)]="training.commissionAmount" placeholder="commissionAmount" name="commissionAmount" class="form-control" id="commissionAmount">
      </div>

  <div class="form-group">
    <label for="rating">Rating:</label>
    <input style="border:solid 1px black;" [(ngModel)]="training.rating" placeholder="rating" name="rating" class="form-control" id="rating">
  </div>

  

  <div class="form-group">
      <label for="startDate">start Date:</label>
      <input type="date" style="border:solid 1px black;" [(ngModel)]="training.startDate" placeholder="startDate" name="startDate" class="form-control" id="startDate">
    </div>

  <div class="form-group">
      <label for="endDate">endDate:</label>
      <input type="date" style="border:solid 1px black;" [(ngModel)]="training.endDate" placeholder="endDate" name="endDate" class="form-control" id="endDate">
    </div>
   
    <div class="form-group">
        <label for="startTime">startTime:</label>
        <input type="datetime" style="border:solid 1px black;" [(ngModel)]="training.startTime" placeholder="startTime" name="startTime" class="form-control" id="startTime">
      </div>

      <div class="form-group">
          <label for="endTime">endTime:</label>
          <input type="datetime" style="border:solid 1px black;" [(ngModel)]="training.endTime" placeholder="endTime" name="endTime" class="form-control" id="endTime">
        </div>
        <div class="form-group">
            <label for="amountReceived">amountReceived:</label>
            <input type="number" style="border:solid 1px black;" [(ngModel)]="training.amountReceived" placeholder="amountReceived" name="amountReceived" class="form-control" id="amountReceived">
          </div> 
          <div class="form-group">
              <label for="mentorId">mentorId:</label>
              <input type="number" style="border:solid 1px black;" [(ngModel)]="training.mentorId" placeholder="mentorId" name="mentorId" class="form-control" id="mentorId">
            </div>
            <div class="form-group">
                <label for="amountToMentor">amountToMentor:</label>
                <input type="number" style="border:solid 1px black;" [(ngModel)]="training.amountToMentor" placeholder="amountToMentor" name="amountToMentor" class="form-control" id="amountToMentor">
              </div>

              <div class="form-group">
                  <label for="userId">userId:</label>
                  <input type="number" style="border:solid 1px black;" [(ngModel)]="training.userId" placeholder="userId" name="userId" class="form-control" id="userId">
                </div> 
                
                  <div class="form-group">
                      <label for="skillId">skillId:</label>
                      <input type="number" style="border:solid 1px black;" [(ngModel)]="training.skillId" placeholder="skillId" name="skillId" class="form-control" id="skillId">
                    </div>
                   
                    <div class="form-group">
                      <label for="fees">fees:</label>
                      <input type="number" style="border:solid 1px black;" [(ngModel)]="training.fees" placeholder="fees" name="fees" class="form-control" id="fees">
                    </div>
                    <div class="form-group">
                      <label for="status">status:</label>
                      <input type="string" style="border:solid 1px black;" [(ngModel)]="training.status" placeholder="status" name="status" class="form-control" id="status">
                    </div>
                    <div class="form-group">
                      <label for="createdAt">Created Date:</label>
                      <input type ="datetime" style="border:solid 1px black;" [(ngModel)]="training.createdAt" placeholder="createdAt" name="createdAt" class="form-control" id="createdAt">
                    </div>
                  
                    <div class="form-group">
                      <label for="updatedAt">Updated Date</label>
                      <input  type="datetime" style="border:solid 1px black;" [(ngModel)]="training.updatedAt" placeholder="updatedDate" name="updatedAt" class="form-control" id="updatedAt">
                    </div>


  <button class="btn btn-success" (click)="createTraining()">Create</button>
</form>
</div>




                         
                             
                         </div>
                     </div>
                     
             </div>
             <footer class="footer">
                 <div class="container-fluid">
                     <nav>
                         <ul class="footer-menu">
                             <li>
                                 <a href="/klife">
                                     Home
                                 </a>
                             </li>
                             <li>
                                 <a href="/abotus">
                                     About Us
                                 </a>
                             </li>
                             <li>
                                 <a href="/contactus">
                                     Contact Us
                                 </a>
                             </li>
                             
                         </ul>
                         <p class="copyright text-center">
                             ©
                             <script>
                                 document.write(new Date().getFullYear())
                             </script>
                             <a href="/klife">Klife</a>, made with love for a better web
                         </p>
                     </nav>
                 </div>
             </footer>
         </div>
     </div>
     
 </body>
 </html>
 